:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
    --black-header-and-footer: #111111;
    --greyish-teal: #78909C;
}

body {
    color: #000;
    text-align: center; 
}

header, footer {
    background-color: var(--black-header-and-footer);
    color: #fff; 
}

header img, footer img{
    width: 8rem;
}

h1
{
    font-family: 'Libre Baskerville', sans-serif;
}

/* Just to make the links look a lot prettier*/
a
{
    text-decoration: none;
}

header a:visited, a:link, a:hover, a:active
{
    color:#ffffff
}

p
{
    text-align: left;
    font-size: 1.5rem;
}

ul
{
    list-style-type: none;
}

.section1
{
    background-color: var(--blue-grey-50);
    padding: 4rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.flex-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65rem;
    margin: 0 auto;
    padding: 2rem;
}

.section1 img
{
    width: calc((100% / 1) - (1rem / 1));
}

.section1 h2
{
    text-align: left;
}

.section2
{
    padding: 2rem;
}
.section2 p
{
    text-align: center;
}
article
{
    vertical-align: text-top;
    max-width: ((100% / 1) - (1rem / 1));
}
.section3
{
    background-color: var(--greyish-teal);
    color: white;
    padding: 2rem;
    text-align: center;
}

.section4
{
    background-color: var(--blue-grey-100);
    padding:2rem;
    flex-direction: row;
}

.section5
{
    background-color: var(--blue-grey-900);
    color: white;
    padding: 2rem;
    flex-direction: column;
    padding-bottom: 4rem;
}

.section5 li
{
    list-style-type: circle;
    padding-bottom: 1rem;
}

.notif-container
{
    flex-wrap: wrap;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
    color: black;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    width: 75%;
    flex-direction: column;
}

.link-container p
{
    margin-bottom: 0;
    margin-top: 0;
}

button
{
    background-color: black;
    color:white;
    border-radius: 5px;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer p
{
    text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  width: calc((100% / 1) - (1rem / 1));
}

.logo-container h1{
    color:white;
    font-size: 4rem;
    margin: 0;
} 

.link-container
{
    width: 100%;
    flex-direction: row;
}

header .link-container
{
    gap: 1rem;
}

footer .link-container
{
    flex-direction: column;
    max-width: calc((100% / 3) - (1rem / 3));
    align-items:flex-start;
}

.navbar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer p
{
    color: var(--blue-grey-200);
}

/* medium */
@media screen and (min-width:640px){
    .section2 p
    {
        text-align: left;
    }
    article, section
    {
        max-width: calc((100% / 2) - (1rem / 2));
        text-align: left;
    }
    .section5.flex-container
    {
        flex-direction: row;
    }
    section:nth-child(3)
    {
        order: 1;
    }
    .navbar
    {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Large */
@media screen and (min-width:1040px){
    article
    {
        max-width: calc((100% / 3) - (1rem / 3));
    }
}
